@model StudentCourseRegistrationFinal.Models.CourseModel

@{
    ViewBag.Title = "Index";
}


<h1>Courses</h1>
<div class="btn btn-default">
    @Html.ActionLink("Display Courses","DisplayCourses",routeValues:null,htmlAttributes:new { @class ="btn btn-primary btn-md" })
</div>
    <div></div>
    <div></div>
    <div></div>